<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{external_link_detected}}</title>
    <link type="text/css" href="{{root}}/skin/error.css?KIWIXCACHEID" rel="Stylesheet" />
{{#KIWIX_RESPONSE_DATA}}    <script>
      window.KIWIX_RESPONSE_TEMPLATE = "{{KIWIX_RESPONSE_TEMPLATE}}";
      window.KIWIX_RESPONSE_DATA = {{{KIWIX_RESPONSE_DATA}}};
    </script>{{/KIWIX_RESPONSE_DATA}}
  </head>
  <body>
    <header>
        <img src="{{root}}/skin/blocklink.svg?KIWIXCACHEID"
             alt="Caution!"
             aria-label="Caution!"
             title="Caution!">
    </header>
    <section class="intro">
      <h1>{{external_link_detected}}</h1>
      <p>You are about to leave Kiwix's ZIM reader to go online to</p>
      <p><a href="{{source}}">{{ source }}</a></p>
    </section>
    <section class="advice">
      <p>The link you're trying to access is not part of your offline package and requires an internet connection.</p>
      <p>If you can go online, you can attempt to open the link.</p>
      <p>You can otherwise return to your ZIM's offline content by using your browser's back button.</p>
    </section>
  </body>
</html>
