<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{translations.download-links-title}}</title>
</head>
<style>
    .downloadRow {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .downloadRow img {
        width: 20px;
        height: 20px;
    }
    .downloadLinksTitle {
        text-align: center;
        font-size: 32px;
        margin-bottom: 8px;
    }
    .checksum-spacing {
        margin-top: 8px; 
    }
</style>
<body>
    <div class="downloadLinksTitle">
        {{{translations.download-links-heading}}}
    </div>
    <a href="{{url}}" download>
        <div class="downloadRow">
            <img src="{{root}}/skin/download.png?KIWIXCACHEID" alt="">
            <div>{{translations.direct-download-link-text}}</div>
        </div>
    </a>
    <a href="{{url}}.torrent" download>
        <div class="downloadRow">
            <img src="{{root}}/skin/bittorrent.png?KIWIXCACHEID" alt="">
            <div>{{translations.torrent-download-link-text}}</div>
        </div>
    </a>
    <a href="{{url}}.magnet" target="_blank">
        <div class="downloadRow">
            <img src="{{root}}/skin/magnet.png?KIWIXCACHEID" alt="">
            <div>{{translations.magnet-link-text}}</div>
        </div>
    </a>
    <a href="{{url}}.sha256" download>
        <div class="downloadRow checksum-spacing">
            <img src="{{root}}/skin/hash.png?KIWIXCACHEID" alt="">
            <div>{{translations.hash-download-link-text}}</div>
        </div>
    </a>
</body>
</html>
