<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download book</title>
</head>
<style>
    .downloadLinksTitle {
        text-align: center;
        font-size: 32px;
        margin-bottom: 6px;
    }
</style>
<body>
    <div class="downloadLinksTitle">
        Download links for <b><i>{{bookTitle}}</i></b>
    </div>
    <a href="{{url}}" download>
        <div>Direct</div>
    </a>
    <a href="{{url}}.sha256" download>
        <div>Sha256 hash</div>
    </a>
    <a href="{{url}}.magnet" target="_blank">
        <div>Magnet link</div>
    </a>
    <a href="{{url}}.torrent" download>
        <div>Torrent file</div>
    </a>
</body>
</html>