<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Page not found</title>
    <link type="text/css" href="{{root}}/skin/error.css?KIWIXCACHEID" rel="Stylesheet" />
  </head>
  <body>
    <header>
        <img src="{{root}}/skin/404.svg?KIWIXCACHEID"
             alt="Not found!"
             aria-label="Not found!"
             title="Not found!">
    </header>
    <section class="intro">
      <h1>Oops. Page not found.</h1>
      <p>The requested path was not found:</p>
      <p><code>{{url_path}}</code></p>
    </section>
    <section class="advice">
      <p>The content you're looking for may still be available, but it might be located at a different place within the ZIM file.</p>
      <p class="list-intro">Please:</p>
      <ul>
          <li>Try using the search function to find the content you want</li>
          <li>Look for keywords or titles related to the information you're seeking</li>
      </ul>
      <p>This approach should help you locate the desired content, even if the original link isn't working properly.</p>
    </section>
  </body>
</html>
